
@{
    ViewData["Title"] = "Role_Added";
}

<h1>Role Added Successfully</h1>
<div>
    <a asp-action="AddRole" asp-controller="Role">Add more Roles</a>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>

</div>
